[client]
host={{ pxcli_host|default('127.0.0.1') }}
port={{ pxcli_port|default('6032') }}
user={{ pxcli_user|default('admin') }}
password={{ pxcli_password|default('strong_password') }}
prompt={{ pxcli_promt|default("'proxysql> '") }}
